<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin_spin_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,118},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,178},{38,58}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{38,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,418},{38,58}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{38,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,358},{38,58}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{38,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,358},{36,58}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{36,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,118},{34,58}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{34,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,178},{32,56}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{32,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,86},{30,56}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{30,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,86},{28,56}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{28,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,118},{28,56}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{28,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,178},{28,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{28,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,414},{28,56}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{28,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,356},{28,56}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{28,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,86},{30,56}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{30,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,478},{32,56}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{32,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,238},{34,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{34,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,298},{36,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{36,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,298},{38,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{38,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,238},{38,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{38,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,118},{38,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{38,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,44},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,44},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,44},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,44},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,44},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,44},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,44},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,178},{38,58}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{38,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,418},{38,58}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{38,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,358},{38,58}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{38,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,238},{36,58}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{36,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,418},{34,58}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{34,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,478},{32,56}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{32,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,60},{30,56}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{30,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,298},{28,56}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{28,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,356},{28,56}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{28,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,298},{28,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{28,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,86},{28,56}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{28,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{28,56}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,2},{28,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{30,56}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{30,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,478},{32,56}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{32,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,418},{34,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{34,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,118},{36,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{36,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,298},{38,58}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{38,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,238},{38,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{38,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,178},{38,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{38,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>coin_spin_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,58}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{40,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coin_spin.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19e9a81937701c3c4e84ed8f686f58da$</string>
            <key>textureFileName</key>
            <string>coin_spin.png</string>
        </dict>
    </dict>
</plist>
