<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin_spin_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,304},{76,114}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{76,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,228},{76,114}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{76,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,378},{74,114}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{74,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{74,114}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{74,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,680},{70,112}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,4},{70,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,896},{68,112}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{68,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,896},{64,112}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{64,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,896},{62,112}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,4},{62,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,336},{56,112}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,4},{56,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,750},{54,112}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,4},{54,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,750},{54,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{54,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,812},{54,112}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,4},{54,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,224},{56,112}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{56,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,896},{60,112}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{60,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,784},{64,112}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{64,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,744},{68,112}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{68,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,674},{70,112}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{70,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,678},{72,112}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{72,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,378},{74,114}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,3},{74,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,228},{76,114}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{76,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,228},{76,114}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,3},{76,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,228},{76,114}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{76,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,152},{76,114}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{76,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,604},{76,112}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{76,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,530},{76,112}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{76,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,528},{76,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{76,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,530},{76,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{76,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,528},{76,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{76,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,152},{76,114}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,3},{76,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,152},{76,114}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,3},{76,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{76,114}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{76,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,76},{76,114}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{76,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,304},{74,114}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{74,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,304},{74,114}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,3},{74,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,606},{70,112}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,4},{70,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,744},{68,112}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,4},{68,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,672},{64,112}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{64,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,896},{60,112}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{60,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,112},{56,112}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,4},{56,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,896},{54,112}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,4},{54,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,896},{54,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{54,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,448},{54,112}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{54,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,0},{56,112}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,4},{56,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,896},{60,112}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,4},{60,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,560},{64,112}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,4},{64,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,676},{68,112}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{68,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,604},{70,112}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{70,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,606},{72,112}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{72,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,304},{74,114}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,3},{74,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,76},{76,114}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,3},{76,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,76},{76,114}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,3},{76,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,76},{76,114}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{76,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,0},{76,114}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{76,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,454},{76,112}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{76,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,452},{76,112}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,4},{76,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00055.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,454},{76,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{76,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00056.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,452},{76,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{76,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00057.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,378},{76,112}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,4},{76,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00058.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{76,114}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,3},{76,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00059.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{76,114}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,3},{76,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>coin_spin_00060.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{76,114}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,3},{76,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coin_spin-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e24be8942d491896987c452bcefbc7a$</string>
            <key>textureFileName</key>
            <string>coin_spin-hd.png</string>
        </dict>
    </dict>
</plist>
