<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>basebrick.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,518},{256,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>sourceSize</key>
			<string>{256,256}</string>
		</dict>
		<key>level1_obs_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,260},{256,303}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,303}}</string>
			<key>sourceSize</key>
			<string>{256,303}</string>
		</dict>
		<key>level1_obs_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{256,303}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,303}}</string>
			<key>sourceSize</key>
			<string>{256,303}</string>
		</dict>
		<key>level1_obs_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,518},{256,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,217}}</string>
			<key>sourceSize</key>
			<string>{256,217}</string>
		</dict>
		<key>level1_obs_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,776},{256,217}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{256,217}}</string>
			<key>sourceSize</key>
			<string>{256,217}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>level1obs-hd.png</string>
		<key>size</key>
		<string>{512,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:89fb3a7978cbaacf7f022bce65824f8d$</string>
		<key>textureFileName</key>
		<string>level1obs-hd.png</string>
	</dict>
</dict>
</plist>
