<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>64</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>star</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 128.000,85.000 }</string>	
								<string>{ 128.000,87.000 }</string>	
								<string>{ 113.000,88.000 }</string>	
								<string>{ 126.000,85.000 }</string>
							</array>
							<array>	
								<string>{ 49.000,30.000 }</string>	
								<string>{ 50.000,32.000 }</string>	
								<string>{ 35.000,56.000 }</string>	
								<string>{ 47.000,30.000 }</string>
							</array>
							<array>	
								<string>{ 46.000,28.000 }</string>	
								<string>{ 47.000,30.000 }</string>	
								<string>{ 35.000,56.000 }</string>	
								<string>{ 25.000,38.000 }</string>	
								<string>{ 44.000,28.000 }</string>
							</array>
							<array>	
								<string>{ 43.000,26.000 }</string>	
								<string>{ 44.000,28.000 }</string>	
								<string>{ 25.000,38.000 }</string>	
								<string>{ 25.000,35.000 }</string>	
								<string>{ 41.000,26.000 }</string>
							</array>
							<array>	
								<string>{ 18.000,9.000 }</string>	
								<string>{ 19.000,11.000 }</string>	
								<string>{ 25.000,35.000 }</string>	
								<string>{ 16.000,9.000 }</string>
							</array>
							<array>	
								<string>{ 14.000,6.000 }</string>	
								<string>{ 16.000,9.000 }</string>	
								<string>{ 25.000,35.000 }</string>	
								<string>{ 10.000,5.000 }</string>
							</array>
							<array>	
								<string>{ 99.000,13.000 }</string>	
								<string>{ 101.000,13.000 }</string>	
								<string>{ 108.000,22.000 }</string>	
								<string>{ 97.000,16.000 }</string>
							</array>
							<array>	
								<string>{ 95.000,16.000 }</string>	
								<string>{ 97.000,16.000 }</string>	
								<string>{ 108.000,22.000 }</string>	
								<string>{ 93.000,19.000 }</string>
							</array>
							<array>	
								<string>{ 91.000,19.000 }</string>	
								<string>{ 93.000,19.000 }</string>	
								<string>{ 108.000,22.000 }</string>	
								<string>{ 89.000,22.000 }</string>
							</array>
							<array>	
								<string>{ 87.000,22.000 }</string>	
								<string>{ 108.000,22.000 }</string>	
								<string>{ 106.000,23.000 }</string>	
								<string>{ 85.000,25.000 }</string>
							</array>
							<array>	
								<string>{ 39.000,23.000 }</string>	
								<string>{ 41.000,26.000 }</string>	
								<string>{ 25.000,35.000 }</string>	
								<string>{ 37.000,23.000 }</string>
							</array>
							<array>	
								<string>{ 56.000,110.000 }</string>	
								<string>{ 55.000,105.000 }</string>	
								<string>{ 70.000,36.000 }</string>	
								<string>{ 83.000,25.000 }</string>	
								<string>{ 85.000,25.000 }</string>	
								<string>{ 58.000,111.000 }</string>
							</array>
							<array>	
								<string>{ 3.000,87.000 }</string>	
								<string>{ 46.000,88.000 }</string>	
								<string>{ 0.000,92.000 }</string>	
								<string>{ 0.000,90.000 }</string>
							</array>
							<array>	
								<string>{ 108.000,71.000 }</string>	
								<string>{ 110.000,74.000 }</string>	
								<string>{ 113.000,88.000 }</string>	
								<string>{ 82.000,88.000 }</string>	
								<string>{ 103.000,69.000 }</string>
							</array>
							<array>	
								<string>{ 103.000,10.000 }</string>	
								<string>{ 108.000,8.000 }</string>	
								<string>{ 108.000,22.000 }</string>	
								<string>{ 101.000,13.000 }</string>
							</array>
							<array>	
								<string>{ 22.000,71.000 }</string>	
								<string>{ 24.000,71.000 }</string>	
								<string>{ 46.000,88.000 }</string>	
								<string>{ 18.000,76.000 }</string>
							</array>
							<array>	
								<string>{ 9.000,82.000 }</string>	
								<string>{ 11.000,82.000 }</string>	
								<string>{ 46.000,88.000 }</string>	
								<string>{ 5.000,87.000 }</string>
							</array>
							<array>	
								<string>{ 62.000,122.000 }</string>	
								<string>{ 58.000,114.000 }</string>	
								<string>{ 58.000,111.000 }</string>	
								<string>{ 85.000,25.000 }</string>	
								<string>{ 91.000,51.000 }</string>	
								<string>{ 93.000,62.000 }</string>	
								<string>{ 82.000,88.000 }</string>	
								<string>{ 65.000,123.000 }</string>
							</array>
							<array>	
								<string>{ 29.000,65.000 }</string>	
								<string>{ 31.000,65.000 }</string>	
								<string>{ 46.000,88.000 }</string>	
								<string>{ 24.000,71.000 }</string>
							</array>
							<array>	
								<string>{ 16.000,76.000 }</string>	
								<string>{ 18.000,76.000 }</string>	
								<string>{ 46.000,88.000 }</string>	
								<string>{ 11.000,82.000 }</string>
							</array>
							<array>	
								<string>{ 126.000,85.000 }</string>	
								<string>{ 113.000,88.000 }</string>	
								<string>{ 110.000,74.000 }</string>	
								<string>{ 118.000,78.000 }</string>
							</array>
							<array>	
								<string>{ 101.000,66.000 }</string>	
								<string>{ 103.000,69.000 }</string>	
								<string>{ 82.000,88.000 }</string>	
								<string>{ 93.000,62.000 }</string>
							</array>
							<array>	
								<string>{ 96.000,44.000 }</string>	
								<string>{ 94.000,45.000 }</string>	
								<string>{ 85.000,25.000 }</string>	
								<string>{ 100.000,34.000 }</string>
							</array>
							<array>	
								<string>{ 102.000,33.000 }</string>	
								<string>{ 100.000,34.000 }</string>	
								<string>{ 85.000,25.000 }</string>	
								<string>{ 106.000,23.000 }</string>
							</array>
							<array>	
								<string>{ 31.000,65.000 }</string>	
								<string>{ 35.000,61.000 }</string>	
								<string>{ 70.000,36.000 }</string>	
								<string>{ 46.000,88.000 }</string>
							</array>
							<array>	
								<string>{ 117.000,0.000 }</string>	
								<string>{ 119.000,0.000 }</string>	
								<string>{ 108.000,22.000 }</string>	
								<string>{ 108.000,8.000 }</string>
							</array>
							<array>	
								<string>{ 19.000,11.000 }</string>	
								<string>{ 21.000,11.000 }</string>	
								<string>{ 37.000,23.000 }</string>	
								<string>{ 25.000,35.000 }</string>
							</array>
							<array>	
								<string>{ 50.000,32.000 }</string>	
								<string>{ 59.000,37.000 }</string>	
								<string>{ 35.000,56.000 }</string>
							</array>
							<array>	
								<string>{ 59.000,37.000 }</string>	
								<string>{ 70.000,36.000 }</string>	
								<string>{ 35.000,61.000 }</string>	
								<string>{ 35.000,56.000 }</string>
							</array>
							<array>	
								<string>{ 46.000,88.000 }</string>	
								<string>{ 70.000,36.000 }</string>	
								<string>{ 55.000,105.000 }</string>
							</array>
							<array>	
								<string>{ 94.000,45.000 }</string>	
								<string>{ 91.000,51.000 }</string>	
								<string>{ 85.000,25.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

