<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- created with http://www.physicseditor.de -->

<plist version="1.0">
	<dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>ptm_ratio</key>
            <real>64</real>
        </dict>
        <key>bodies</key>
		<dict>

			<key>Level1_01</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 130.000,0.000 }</string>	
								<string>{ 134.000,4.000 }</string>	
								<string>{ 0.000,128.000 }</string>
							</array>
							<array>	
								<string>{ 512.000,57.000 }</string>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 473.000,59.000 }</string>
							</array>
							<array>	
								<string>{ 473.000,59.000 }</string>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 381.000,58.000 }</string>
							</array>
							<array>	
								<string>{ 174.000,23.000 }</string>	
								<string>{ 178.000,26.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 171.000,23.000 }</string>
							</array>
							<array>	
								<string>{ 140.000,6.000 }</string>	
								<string>{ 142.000,9.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 134.000,4.000 }</string>
							</array>
							<array>	
								<string>{ 185.000,27.000 }</string>	
								<string>{ 187.000,29.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 178.000,26.000 }</string>
							</array>
							<array>	
								<string>{ 152.000,13.000 }</string>	
								<string>{ 153.000,15.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 142.000,9.000 }</string>
							</array>
							<array>	
								<string>{ 158.000,16.000 }</string>	
								<string>{ 171.000,23.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 153.000,15.000 }</string>
							</array>
							<array>	
								<string>{ 381.000,58.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 315.000,54.000 }</string>
							</array>
							<array>	
								<string>{ 315.000,54.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 272.000,49.000 }</string>	
								<string>{ 282.000,49.000 }</string>
							</array>
							<array>	
								<string>{ 187.000,29.000 }</string>	
								<string>{ 217.000,38.000 }</string>	
								<string>{ 0.000,128.000 }</string>
							</array>
							<array>	
								<string>{ 217.000,38.000 }</string>	
								<string>{ 272.000,49.000 }</string>	
								<string>{ 0.000,128.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Level1_02</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,57.000 }</string>	
								<string>{ 104.000,54.000 }</string>	
								<string>{ 224.000,66.000 }</string>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 0.000,128.000 }</string>
							</array>
							<array>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 443.000,5.000 }</string>	
								<string>{ 445.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 439.000,9.000 }</string>	
								<string>{ 443.000,5.000 }</string>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 438.000,13.000 }</string>
							</array>
							<array>	
								<string>{ 352.000,55.000 }</string>	
								<string>{ 370.000,54.000 }</string>	
								<string>{ 347.000,59.000 }</string>
							</array>
							<array>	
								<string>{ 339.000,61.000 }</string>	
								<string>{ 370.000,54.000 }</string>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 337.000,63.000 }</string>
							</array>
							<array>	
								<string>{ 427.000,24.000 }</string>	
								<string>{ 438.000,13.000 }</string>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 427.000,26.000 }</string>
							</array>
							<array>	
								<string>{ 245.000,66.000 }</string>	
								<string>{ 261.000,68.000 }</string>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 224.000,66.000 }</string>
							</array>
							<array>	
								<string>{ 427.000,26.000 }</string>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 408.000,41.000 }</string>
							</array>
							<array>	
								<string>{ 408.000,41.000 }</string>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 390.000,49.000 }</string>
							</array>
							<array>	
								<string>{ 390.000,49.000 }</string>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 370.000,54.000 }</string>
							</array>
							<array>	
								<string>{ 337.000,63.000 }</string>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 318.000,67.000 }</string>
							</array>
							<array>	
								<string>{ 318.000,67.000 }</string>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 261.000,68.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Level1_03</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 73.000,0.000 }</string>	
								<string>{ 75.000,43.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 118.000,118.000 }</string>	
								<string>{ 122.000,123.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 116.000,118.000 }</string>
							</array>
							<array>	
								<string>{ 104.000,104.000 }</string>	
								<string>{ 104.000,106.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 99.000,100.000 }</string>
							</array>
							<array>	
								<string>{ 75.000,43.000 }</string>	
								<string>{ 80.000,64.000 }</string>	
								<string>{ 0.000,128.000 }</string>
							</array>
							<array>	
								<string>{ 124.000,123.000 }</string>	
								<string>{ 129.000,128.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 122.000,123.000 }</string>
							</array>
							<array>	
								<string>{ 95.000,92.000 }</string>	
								<string>{ 99.000,100.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 92.000,90.000 }</string>
							</array>
							<array>	
								<string>{ 89.000,82.000 }</string>	
								<string>{ 92.000,90.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 85.000,77.000 }</string>
							</array>
							<array>	
								<string>{ 80.000,64.000 }</string>	
								<string>{ 85.000,74.000 }</string>	
								<string>{ 85.000,77.000 }</string>	
								<string>{ 0.000,128.000 }</string>
							</array>
							<array>	
								<string>{ 116.000,118.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 104.000,106.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Level1_04</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 453.000,0.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 459.000,42.000 }</string>
							</array>
							<array>	
								<string>{ 459.000,42.000 }</string>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 459.000,78.000 }</string>
							</array>
							<array>	
								<string>{ 459.000,78.000 }</string>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 454.000,107.000 }</string>
							</array>
							<array>	
								<string>{ 454.000,107.000 }</string>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 449.000,121.000 }</string>	
								<string>{ 450.000,115.000 }</string>
							</array>
							<array>	
								<string>{ 445.000,127.000 }</string>	
								<string>{ 449.000,121.000 }</string>	
								<string>{ 512.000,128.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Level1_05</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 86.000,1.000 }</string>	
								<string>{ 80.000,35.000 }</string>	
								<string>{ 0.000,128.000 }</string>
							</array>
							<array>	
								<string>{ 73.000,128.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 75.000,81.000 }</string>
							</array>
							<array>	
								<string>{ 75.000,81.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 80.000,35.000 }</string>	
								<string>{ 80.000,46.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Level1_06</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 415.000,26.000 }</string>	
								<string>{ 415.000,24.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 417.000,27.000 }</string>
							</array>
							<array>	
								<string>{ 417.000,29.000 }</string>	
								<string>{ 417.000,27.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 419.000,30.000 }</string>
							</array>
							<array>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 452.000,128.000 }</string>	
								<string>{ 449.000,110.000 }</string>	
								<string>{ 512.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 405.000,13.000 }</string>	
								<string>{ 405.000,11.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 409.000,16.000 }</string>
							</array>
							<array>	
								<string>{ 412.000,22.000 }</string>	
								<string>{ 409.000,16.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 415.000,24.000 }</string>
							</array>
							<array>	
								<string>{ 427.000,47.000 }</string>	
								<string>{ 427.000,44.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 431.000,53.000 }</string>
							</array>
							<array>	
								<string>{ 399.000,6.000 }</string>	
								<string>{ 399.000,4.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 405.000,11.000 }</string>
							</array>
							<array>	
								<string>{ 433.000,62.000 }</string>	
								<string>{ 431.000,53.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 437.000,69.000 }</string>
							</array>
							<array>	
								<string>{ 438.000,76.000 }</string>	
								<string>{ 437.000,69.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 443.000,88.000 }</string>
							</array>
							<array>	
								<string>{ 449.000,110.000 }</string>	
								<string>{ 444.000,96.000 }</string>	
								<string>{ 443.000,88.000 }</string>	
								<string>{ 512.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 427.000,44.000 }</string>	
								<string>{ 419.000,30.000 }</string>	
								<string>{ 512.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 395.000,0.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 399.000,4.000 }</string>
							</array>
						</array>
                    </dict>
					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 415.000,26.000 }</string>	
								<string>{ 415.000,24.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 417.000,27.000 }</string>
							</array>
							<array>	
								<string>{ 417.000,29.000 }</string>	
								<string>{ 417.000,27.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 419.000,30.000 }</string>
							</array>
							<array>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 452.000,128.000 }</string>	
								<string>{ 449.000,110.000 }</string>	
								<string>{ 512.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 405.000,13.000 }</string>	
								<string>{ 405.000,11.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 409.000,16.000 }</string>
							</array>
							<array>	
								<string>{ 412.000,22.000 }</string>	
								<string>{ 409.000,16.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 415.000,24.000 }</string>
							</array>
							<array>	
								<string>{ 427.000,47.000 }</string>	
								<string>{ 427.000,44.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 431.000,53.000 }</string>
							</array>
							<array>	
								<string>{ 399.000,6.000 }</string>	
								<string>{ 399.000,4.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 405.000,11.000 }</string>
							</array>
							<array>	
								<string>{ 433.000,62.000 }</string>	
								<string>{ 431.000,53.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 437.000,69.000 }</string>
							</array>
							<array>	
								<string>{ 438.000,76.000 }</string>	
								<string>{ 437.000,69.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 443.000,88.000 }</string>
							</array>
							<array>	
								<string>{ 449.000,110.000 }</string>	
								<string>{ 444.000,96.000 }</string>	
								<string>{ 443.000,88.000 }</string>	
								<string>{ 512.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 427.000,44.000 }</string>	
								<string>{ 419.000,30.000 }</string>	
								<string>{ 512.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 395.000,0.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 399.000,4.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Level1_07</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 0.000,5.000 }</string>	
								<string>{ 50.000,5.000 }</string>	
								<string>{ 61.000,7.000 }</string>	
								<string>{ 81.000,24.000 }</string>	
								<string>{ 87.000,35.000 }</string>	
								<string>{ 92.000,84.000 }</string>	
								<string>{ 86.000,128.000 }</string>
							</array>
							<array>	
								<string>{ 74.000,7.000 }</string>	
								<string>{ 81.000,24.000 }</string>	
								<string>{ 61.000,7.000 }</string>
							</array>
							<array>	
								<string>{ 99.000,54.000 }</string>	
								<string>{ 97.000,59.000 }</string>	
								<string>{ 91.000,42.000 }</string>	
								<string>{ 97.000,49.000 }</string>
							</array>
							<array>	
								<string>{ 97.000,59.000 }</string>	
								<string>{ 94.000,80.000 }</string>	
								<string>{ 92.000,84.000 }</string>	
								<string>{ 87.000,35.000 }</string>	
								<string>{ 91.000,42.000 }</string>
							</array>
							<array>	
								<string>{ 89.000,36.000 }</string>	
								<string>{ 91.000,42.000 }</string>	
								<string>{ 87.000,35.000 }</string>
							</array>
							<array>	
								<string>{ 83.000,25.000 }</string>	
								<string>{ 87.000,35.000 }</string>	
								<string>{ 81.000,24.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Level1_08</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 394.000,128.000 }</string>	
								<string>{ 394.000,126.000 }</string>	
								<string>{ 409.000,29.000 }</string>	
								<string>{ 415.000,0.000 }</string>	
								<string>{ 512.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 385.000,117.000 }</string>	
								<string>{ 385.000,115.000 }</string>	
								<string>{ 404.000,43.000 }</string>	
								<string>{ 388.000,119.000 }</string>
							</array>
							<array>	
								<string>{ 376.000,85.000 }</string>	
								<string>{ 381.000,81.000 }</string>	
								<string>{ 382.000,113.000 }</string>	
								<string>{ 378.000,106.000 }</string>	
								<string>{ 376.000,97.000 }</string>
							</array>
							<array>	
								<string>{ 381.000,79.000 }</string>	
								<string>{ 385.000,76.000 }</string>	
								<string>{ 382.000,113.000 }</string>
							</array>
							<array>	
								<string>{ 387.000,71.000 }</string>	
								<string>{ 392.000,66.000 }</string>	
								<string>{ 382.000,113.000 }</string>	
								<string>{ 385.000,76.000 }</string>
							</array>
							<array>	
								<string>{ 388.000,121.000 }</string>	
								<string>{ 388.000,119.000 }</string>	
								<string>{ 404.000,43.000 }</string>	
								<string>{ 409.000,29.000 }</string>	
								<string>{ 394.000,126.000 }</string>
							</array>
							<array>	
								<string>{ 405.000,37.000 }</string>	
								<string>{ 409.000,29.000 }</string>	
								<string>{ 404.000,43.000 }</string>
							</array>
							<array>	
								<string>{ 392.000,66.000 }</string>	
								<string>{ 404.000,43.000 }</string>	
								<string>{ 385.000,115.000 }</string>	
								<string>{ 382.000,113.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Level1_09</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 85.000,0.000 }</string>	
								<string>{ 75.000,15.000 }</string>	
								<string>{ 32.000,63.000 }</string>	
								<string>{ 0.000,64.000 }</string>
							</array>
							<array>	
								<string>{ 61.000,68.000 }</string>	
								<string>{ 58.000,68.000 }</string>	
								<string>{ 32.000,63.000 }</string>	
								<string>{ 63.000,48.000 }</string>	
								<string>{ 62.000,66.000 }</string>
							</array>
							<array>	
								<string>{ 63.000,48.000 }</string>	
								<string>{ 32.000,63.000 }</string>	
								<string>{ 69.000,28.000 }</string>
							</array>
							<array>	
								<string>{ 74.000,20.000 }</string>	
								<string>{ 69.000,28.000 }</string>	
								<string>{ 32.000,63.000 }</string>	
								<string>{ 75.000,15.000 }</string>
							</array>
							<array>	
								<string>{ 77.000,14.000 }</string>	
								<string>{ 75.000,15.000 }</string>	
								<string>{ 85.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Level1_10</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 256.000,42.000 }</string>	
								<string>{ 234.000,43.000 }</string>	
								<string>{ 107.000,0.000 }</string>	
								<string>{ 256.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 180.000,29.000 }</string>	
								<string>{ 173.000,25.000 }</string>	
								<string>{ 184.000,29.000 }</string>
							</array>
							<array>	
								<string>{ 164.000,23.000 }</string>	
								<string>{ 160.000,20.000 }</string>	
								<string>{ 173.000,25.000 }</string>
							</array>
							<array>	
								<string>{ 193.000,34.000 }</string>	
								<string>{ 184.000,29.000 }</string>	
								<string>{ 200.000,35.000 }</string>
							</array>
							<array>	
								<string>{ 151.000,18.000 }</string>	
								<string>{ 149.000,16.000 }</string>	
								<string>{ 160.000,20.000 }</string>
							</array>
							<array>	
								<string>{ 138.000,13.000 }</string>	
								<string>{ 129.000,8.000 }</string>	
								<string>{ 149.000,16.000 }</string>
							</array>
							<array>	
								<string>{ 120.000,6.000 }</string>	
								<string>{ 107.000,0.000 }</string>	
								<string>{ 129.000,8.000 }</string>
							</array>
							<array>	
								<string>{ 202.000,37.000 }</string>	
								<string>{ 200.000,35.000 }</string>	
								<string>{ 234.000,43.000 }</string>	
								<string>{ 215.000,41.000 }</string>
							</array>
							<array>	
								<string>{ 200.000,35.000 }</string>	
								<string>{ 184.000,29.000 }</string>	
								<string>{ 234.000,43.000 }</string>
							</array>
							<array>	
								<string>{ 184.000,29.000 }</string>	
								<string>{ 129.000,8.000 }</string>	
								<string>{ 234.000,43.000 }</string>
							</array>
							<array>	
								<string>{ 149.000,16.000 }</string>	
								<string>{ 129.000,8.000 }</string>	
								<string>{ 160.000,20.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Level1_11</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,42.000 }</string>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 128.000,0.000 }</string>	
								<string>{ 52.000,35.000 }</string>	
								<string>{ 22.000,41.000 }</string>
							</array>
							<array>	
								<string>{ 72.000,28.000 }</string>	
								<string>{ 63.000,30.000 }</string>	
								<string>{ 78.000,24.000 }</string>
							</array>
							<array>	
								<string>{ 81.000,24.000 }</string>	
								<string>{ 78.000,24.000 }</string>	
								<string>{ 128.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 78.000,24.000 }</string>	
								<string>{ 63.000,30.000 }</string>	
								<string>{ 128.000,0.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Level1_12</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 256.000,128.000 }</string>	
								<string>{ 159.000,128.000 }</string>	
								<string>{ 193.000,25.000 }</string>	
								<string>{ 256.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 196.000,0.000 }</string>	
								<string>{ 256.000,0.000 }</string>	
								<string>{ 193.000,25.000 }</string>
							</array>
							<array>	
								<string>{ 172.000,67.000 }</string>	
								<string>{ 174.000,66.000 }</string>	
								<string>{ 159.000,128.000 }</string>	
								<string>{ 171.000,71.000 }</string>
							</array>
							<array>	
								<string>{ 158.000,89.000 }</string>	
								<string>{ 164.000,82.000 }</string>	
								<string>{ 159.000,128.000 }</string>
							</array>
							<array>	
								<string>{ 189.000,33.000 }</string>	
								<string>{ 193.000,25.000 }</string>	
								<string>{ 188.000,39.000 }</string>
							</array>
							<array>	
								<string>{ 169.000,72.000 }</string>	
								<string>{ 171.000,71.000 }</string>	
								<string>{ 159.000,128.000 }</string>	
								<string>{ 164.000,82.000 }</string>
							</array>
							<array>	
								<string>{ 174.000,66.000 }</string>	
								<string>{ 188.000,39.000 }</string>	
								<string>{ 159.000,128.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Level1_13</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 185.000,0.000 }</string>	
								<string>{ 182.000,40.000 }</string>	
								<string>{ 154.000,83.000 }</string>	
								<string>{ 0.000,128.000 }</string>
							</array>
							<array>	
								<string>{ 182.000,80.000 }</string>	
								<string>{ 154.000,83.000 }</string>	
								<string>{ 182.000,40.000 }</string>
							</array>
							<array>	
								<string>{ 107.000,107.000 }</string>	
								<string>{ 105.000,107.000 }</string>	
								<string>{ 109.000,104.000 }</string>
							</array>
							<array>	
								<string>{ 111.000,104.000 }</string>	
								<string>{ 109.000,104.000 }</string>	
								<string>{ 113.000,101.000 }</string>
							</array>
							<array>	
								<string>{ 115.000,101.000 }</string>	
								<string>{ 113.000,101.000 }</string>	
								<string>{ 122.000,95.000 }</string>
							</array>
							<array>	
								<string>{ 86.000,128.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 88.000,124.000 }</string>
							</array>
							<array>	
								<string>{ 88.000,124.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 105.000,107.000 }</string>
							</array>
							<array>	
								<string>{ 105.000,107.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 113.000,101.000 }</string>
							</array>
							<array>	
								<string>{ 113.000,101.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 122.000,95.000 }</string>
							</array>
							<array>	
								<string>{ 122.000,95.000 }</string>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 132.000,90.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Level1_14</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 256.000,128.000 }</string>	
								<string>{ 105.000,128.000 }</string>	
								<string>{ 100.000,125.000 }</string>	
								<string>{ 6.000,11.000 }</string>	
								<string>{ 8.000,0.000 }</string>	
								<string>{ 256.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 2.000,72.000 }</string>	
								<string>{ 4.000,66.000 }</string>	
								<string>{ 9.000,78.000 }</string>
							</array>
							<array>	
								<string>{ 17.000,97.000 }</string>	
								<string>{ 15.000,89.000 }</string>	
								<string>{ 38.000,103.000 }</string>
							</array>
							<array>	
								<string>{ 4.000,66.000 }</string>	
								<string>{ 6.000,45.000 }</string>	
								<string>{ 38.000,103.000 }</string>	
								<string>{ 15.000,89.000 }</string>	
								<string>{ 9.000,78.000 }</string>
							</array>
							<array>	
								<string>{ 11.000,84.000 }</string>	
								<string>{ 9.000,78.000 }</string>	
								<string>{ 15.000,89.000 }</string>
							</array>
							<array>	
								<string>{ 6.000,45.000 }</string>	
								<string>{ 6.000,11.000 }</string>	
								<string>{ 68.000,113.000 }</string>	
								<string>{ 38.000,103.000 }</string>
							</array>
							<array>	
								<string>{ 64.000,113.000 }</string>	
								<string>{ 56.000,109.000 }</string>	
								<string>{ 68.000,113.000 }</string>
							</array>
							<array>	
								<string>{ 46.000,107.000 }</string>	
								<string>{ 38.000,103.000 }</string>	
								<string>{ 56.000,109.000 }</string>
							</array>
							<array>	
								<string>{ 70.000,115.000 }</string>	
								<string>{ 68.000,113.000 }</string>	
								<string>{ 6.000,11.000 }</string>	
								<string>{ 84.000,119.000 }</string>
							</array>
							<array>	
								<string>{ 86.000,121.000 }</string>	
								<string>{ 84.000,119.000 }</string>	
								<string>{ 6.000,11.000 }</string>	
								<string>{ 100.000,125.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
			<key>Level1_15</key>
			<dict>
				<key>anchorpoint</key>
                <string>{ 0.0000,0.0000 }</string>
				<key>fixtures</key>
				<array>

					<dict>
                        <key>density</key> <real>2</real>
                        <key>friction</key> <real>0</real>
                        <key>restitution</key> <real>0</real>
                        <key>filter_categoryBits</key> <integer>1</integer>
                        <key>filter_groupIndex</key> <integer>0</integer>
                        <key>filter_maskBits</key> <integer>65535</integer>
                        <key>isSensor</key> <false/>
                        <key>id</key> <string></string>
                        <key>fixture_type</key> <string>POLYGON</string>

						<key>polygons</key>
						<array>
							<array>	
								<string>{ 0.000,128.000 }</string>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 157.000,114.000 }</string>	
								<string>{ 130.000,128.000 }</string>
							</array>
							<array>	
								<string>{ 512.000,128.000 }</string>	
								<string>{ 452.000,128.000 }</string>	
								<string>{ 452.000,120.000 }</string>	
								<string>{ 512.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 266.000,93.000 }</string>	
								<string>{ 236.000,92.000 }</string>	
								<string>{ 271.000,80.000 }</string>
							</array>
							<array>	
								<string>{ 196.000,101.000 }</string>	
								<string>{ 191.000,101.000 }</string>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 202.000,98.000 }</string>
							</array>
							<array>	
								<string>{ 271.000,80.000 }</string>	
								<string>{ 236.000,92.000 }</string>	
								<string>{ 202.000,98.000 }</string>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 286.000,63.000 }</string>
							</array>
							<array>	
								<string>{ 424.000,72.000 }</string>	
								<string>{ 418.000,66.000 }</string>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 426.000,72.000 }</string>
							</array>
							<array>	
								<string>{ 186.000,104.000 }</string>	
								<string>{ 174.000,107.000 }</string>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 191.000,101.000 }</string>
							</array>
							<array>	
								<string>{ 160.000,114.000 }</string>	
								<string>{ 157.000,114.000 }</string>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 174.000,107.000 }</string>
							</array>
							<array>	
								<string>{ 286.000,63.000 }</string>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 302.000,54.000 }</string>
							</array>
							<array>	
								<string>{ 452.000,120.000 }</string>	
								<string>{ 449.000,105.000 }</string>	
								<string>{ 512.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 449.000,105.000 }</string>	
								<string>{ 441.000,89.000 }</string>	
								<string>{ 512.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 441.000,89.000 }</string>	
								<string>{ 426.000,72.000 }</string>	
								<string>{ 512.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 418.000,66.000 }</string>	
								<string>{ 404.000,59.000 }</string>	
								<string>{ 512.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 404.000,59.000 }</string>	
								<string>{ 376.000,51.000 }</string>	
								<string>{ 512.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 512.000,0.000 }</string>	
								<string>{ 376.000,51.000 }</string>	
								<string>{ 354.000,49.000 }</string>	
								<string>{ 0.000,0.000 }</string>
							</array>
							<array>	
								<string>{ 302.000,54.000 }</string>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 319.000,49.000 }</string>
							</array>
							<array>	
								<string>{ 319.000,49.000 }</string>	
								<string>{ 0.000,0.000 }</string>	
								<string>{ 354.000,49.000 }</string>
							</array>
						</array>
                    </dict>
				</array>
			</dict>
		</dict>
	</dict>
</plist>

